body {
    display: flex;
    justify-content: center;
}

canvas {
    border: 1px solid black;
}

.control-panel {
    display: grid;
}

.wrapper-buttons {
    display: flex;
}

.button {
    display: flex;
    justify-content: center;
    width: 130px;
}